---
import Header from "../components/Header.svelte";
import Hero from "../components/landing/Hero.astro";
import Events from "../components/Events.astro";
import Projects from "../components/Projects.astro";
import Team from "../components/Team.astro";
import ContactUs from "../components/ContactUs.astro";
import ScrollUp from "../components/ScrollUp.svelte";
import "../layouts/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/gdsc.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>GDSC Al-Yamamah University</title>
  </head>
  <body class="bg-[#282C34]">
    <Header client:only="svelte" />
    <main>
      <Hero />
      <Events />
      <Projects />
      <Team />
      <ContactUs />
    </main>
    <ScrollUp client:only="svelte" />
  </body>
</html>
